<div class="container-fluid nav-bar-style">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 col-xs-12">
      <a href="#/getstarted">Get Started</a>
    </div>
    <div class="col-md-2 col-md-offset-5 col-xs-12">
      <a href="#/signup">Sign Up</a>
    </div>
    <div class="col-md-1 col-xs-12">
      <a href="#/login">Log In</a>
    </div>
  </div>
  <p class="home">Welcome to Kibble Counter: the software that allows you to track your pet's food and water intake remotely. Check out the video below to see Kibble Counter in action, and then click Get Started to set up your own Kibble Counter.</p>
</div>
