@import 'https://fonts.googleapis.com/css?family=VT323';
@import 'https://fonts.googleapis.com/css?family=Oswald';

header {
  display: flex;
  justify-content: center;
  font-size: 8rem;
  font-family: 'VT323', monospace;
  color: hsl(280, 48%, 34%);
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url();
  background-attachment: fixed;
}

.nav-bar-style {
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
}

.home {
  font-size: 3rem;
  padding-top: 2rem;
}

.dashboard-text {
  font-size: 4rem;
  padding-top: 10rem;
}
